
h1{
    text-align: center;
    font-size: 50px;
    color: #2c2c2c;
    background: linear-gradient(greenyellow,white);
    letter-spacing: .05em;
    text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
    height: 100px;
}

tr,td{
    text-align: center;
}
